// Color Variables

$text-color-dark: #495366;
$text-color-light: #ffffff;
$text-color-antialiased-light: #ece9e9;
$text-color-inactive: #707681;
$text-color-green: #5cb256;
$text-faded: #beaea9; // Artifact type indicator text
$container-bg: #e6e0d3;
$btn-bg: #ece5d8;
$btn-border-bg: #959395;
$equipped-bg: #ffe7bb;
$inventory-icon-color: #bcb6af;
$inventory-icon-active-color: #ece5d8;
$header-text-color: #d3bc8e;
$lock-icon-color: #ff8a75;
$side-profile-bg: #525561;
$twenty: #39434e;
